.profile__about {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: rgb(255, 255, 255);
  margin: 10px 0 0;
}

@media screen and (max-width: 768px) {
  .profile__about {
    text-align: center;
  }
}


@media screen and (max-width: 400px) {
  .profile__about {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 5px;
  }
}
