.profile__about {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: rgb(255, 255, 255);
  margin: 0;
  padding-top: 10px;
}

@media screen and (max-width: 320px) {
  .profile__about {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
