.profile {
  width: 100%;
  min-height: 120px;
  padding-top: 40px;
  padding-bottom: 51px;
  display: grid;
  grid-template-columns: 120px 1fr 150px;
  grid-template-rows: 1fr;
  column-gap: 30px;
  align-items: center;
}

@media screen and (max-width: 320px) {
  .profile {
    max-width: 282px;
    padding-top: 42px;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr 50px;
    row-gap: 30px;
    justify-items: center;
    margin-left: 19px;
    margin-right: 19px;
  }
}
