.profile {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 120px 1fr 150px;
  grid-template-rows: 1fr;
  column-gap: 30px;
  align-items: center;
  padding: 40px 0 51px;
}

@media screen and (max-width: 768px) {
  .profile {
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr 50px;
    row-gap: 25px;
    justify-items: center;
    padding-top: 42px;
    padding-bottom: 36px;
  }
}
