.footer_position_center {
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .footer_position_center {
    max-width: 780px;
  }
}

@media screen and (max-width: 768px) {
  .footer_position_center {
    max-width: 580px;
  }
}

@media screen and (max-width: 320px) {
  .footer_position_center {
    max-width: 282px;
  }
}
