.footer {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  padding: 67px 0 60px;
  box-sizing: border-box;
}

@media screen and (max-width: 400px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
